/*desktop*/

div, section {
	display:inline-block;
}

h1 {
	text-align:center;
}

img {
	width: 200px;
	height: 120px;
}

#title {
	text-align:center;
}

header {
	height: 100px;
	padding: 0 15px;
}

#container {
	padding: 5px;
	width: 960px
	margin: 20px auto;
	
#column_one {
	width: 290px!important;
	float: left;
	padding: 5px 15px;
}

#column_two {
	width: 294px; /*Account for margins, border values*/
	float: left;
	padding: 5px 15px;	
	margin: 0px 5px 5px	5px;
}

#column_three {
	width: 290px;
	float: left;
	padding: 5px 15px;		
}

/*tablet*/



/*mobile*/